@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Measurements</h1>
    
    @foreach (var m in Model.Measurements)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>User: @m.User?.Name</h5>
                <h5>Weight: @m.Weight</h5>
                <h5>Date: @m.MeasureDate.ToString("dd / MM / yyyy")</h5>
            </div>
        </div>
    }
</div>
